@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #ffe8b4;
    --color-primary-3: #f8d477;
    --color-primary-4: #ffe100;
    --color-primary-5: #00c3ff;
    --color-primary-6: #e9a209;
    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {

    background-color: rgb(0, 0, 0);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 136, 180);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: rgba(155, 155, 155, 0.664);
}

.social-media-buttons {

    display: flex;
    gap: 18px;

}

.social-media-buttons a {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(0, 136, 180);
    font-size: 1.25 rem;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 12px 1px rgb(255, 255, 255);
    transition: box-shadow .3s ease;

}

.social-media-buttons2 {

    display: flex;
    gap: 18px;

}

.social-media-buttons2 a {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    font-size: 1.25 rem;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 12px 1px rgb(255, 255, 255);
    transition: box-shadow .3s ease;

}

.social-media-buttons hover {
    box-shadow: 0px 0px 12px 8px rgb(255, 255, 255);
}

.section-title{
    color: rgb(0, 136, 180);
    font-size: 1.563rem;
}
.section-subtitle{
    font-size: 2.1875rem;
    color: white;
    
}

.wave {
    float: left;
    margin: 20px;
    animation: wave  ease-in-out 1.5s infinite alternate;
    transform-origin: center -36px;
  }
  
  .wave:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .wave img {
    border: 5px solid #ffffff;
    display: block;
    width: 200px;
    height: 250px;
  }
  
  .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 0.5px solid #ffffff;
    top: -10px; 
    left: 50%;
    border-bottom: none;
    border-right: none;
    transform: rotate(35deg);
  }
         
  .wave:before{
    content: '';
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
  }
          
  @keyframes wave {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
  }
  


